html:not([data-theme="dark"]) {
  --background-color: #fff;
  --foreground-color: #000;
  --accents_1: #fafafa;
  --theme-display-dark: none;
  --theme-display-light: block;
  --anchor-color: #000;
  --menu-opacity: 0.25;
  --menu-bg: var(--accents_1);
}

:root {
  --font_sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font_mono: ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

html[data-theme="dark"] {
  color-scheme: dark;
  --background-color: #000;
  --foreground-color: #ddd;
  --accents_1: #111;
  --theme-display-dark: block;
  --theme-display-light: none;
  --anchor-color: #ddd;
  --menu-opacity: 0.65;
  --menu-bg: #222;
}

body {
  font-size: 16px;
  font-family: var(--font_sans);
  line-height: 1.5;
}

a {
  color: inherit;
}

p, small {
  font-weight: 400;
  color: inherit;
  letter-spacing: -0.005625em;
}

p {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.625em;
}

small {
  margin: 0;
  font-size: 0.875em;
  line-height: 1.5em;
}

nav a {
  text-decoration: none;
}

b, strong {
  color: var(--foreground-color);
  font-weight: 600;
}

ul, ol {
  padding: 0;
  color: var(--foreground-color);
  margin: 8px 8px 8px 16px;
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: 0.625em;
  font-size: 1em;
  line-height: 1.625em;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  margin: 0 0 0.7rem 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  letter-spacing: -0.02em;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-weight: 600;
}

h6 {
  font-size: 0.875rem;
  letter-spacing: -0.005em;
  font-weight: 600;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

code {
  font-family: var(--font-mono);
  font-size: 0.9em;
  white-space: pre-wrap;
}

pre {
  font-family: var(--font-mono);
  white-space: pre;
  line-height: 1.5;
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  font-size: 14px;
}

#menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 1300px;
  transform: translateX(-220px);
  transition: transform 0.25s;
  width: 220px;
  box-sizing: border-box;
  background-color: var(--menu-bg);
  box-shadow: none;
  margin: 0;
}

#menu.open {
  box-shadow: none;
  padding: 30px 0 0 30px;
  transform: translateX(0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 4;
}

#shadow {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: visibility 0.25s, background-color 0.25s;
}

#shadow.open {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}

#menu.open li {
  font-size: 0.875rem;
}

#menu #widget svg {
  height: 20px;
  width: 20px;
}

#menu #widget > a:not(:first-child) {
  margin-left: 6px;
}

main {
  padding: 60px 20px 0px 20px;
  box-sizing: border-box;
}

#menu-container {
  display: block;
  position: fixed;
  left: -20px;
  top: 0;
  right: -20px;
  height: 50px;
  padding: 0 20px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, var(--menu-opacity));
  background-color: var(--menu-bg);
  color: var(--foreground-color);
}

#menu-container svg {
  height: 50px;
  width: 25px;
  padding-left: 12px;
}

#theme-light {
  display: var(--theme-display-light);
}

#theme-dark {
  display: var(--theme-display-dark);
}

.header-anchor {
  opacity: 0;
  color: var(--anchor-color);
  font-size: 0.85em;
  float: left;
  text-decoration: none;
  margin-left: -1em;
  margin-top: 0.15em;
}
.header-anchor:hover {
  opacity: 1;
}

#menu #widget {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  flex: 0 0 auto;
}

#menu > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#menu > div > ul {
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
}

@media screen and (min-width: 800px) {
  body {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 50px 500px 250px;
  }
  main {
    padding: 0;
    padding-left: 80px;
    position: relative;
    z-index: 1;
  }

  #menu-container {
    display: none;
  }

  #menu {
    transform: translateX(0);
    margin: 0 auto;
    width: initial;
    display: block;
    background-color: transparent;
  }
  #menu > div {
    margin-top: 20px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 50px 0 30px 30px;
    overflow-y: scroll;
  }

  #menu > div svg {
    height: 24px;
    width: 24px;
  }

  #menu ul li {
    cursor: pointer;
  }
}
